:root {
  --light-blue: #6494ed;
  --light-grey: #e1e1e1;
  --almost-white: #fafafa;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, footer, header, input, textarea, select, button, aside, main, section {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  background: #fff;
  font-size: 16px; 
}

ul, ol {
  list-style: none;
}
a, a:visited { 
  color: #000; 
  text-decoration: none;
}

input, select, div, textarea, span, section, main, aside, nav, ul {
  box-sizing: border-box;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
label {
  display: inline-block;
}